*{
    user-select: none;
}

body {
    background-image: url('./picture/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 使背景图片固定 */
    margin: 0;
    /* 去掉默认的页面外边距 */
    padding: 0;
    /* 去掉默认的页面内边距 */
}

.title {
    width: 370px;
    height: 164px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 22px;
    position: absolute;
    top: 2%;
    left: 39%;
}

.p1{
    font-size:x-large;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

.picture1{
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 15%;
}

.img1{
    position: absolute;
    top:0;
    left: 0;
}

.img2{
    position: absolute;
    top:10%;
    left: 0;
}

.img3{
    position: absolute;
    top:0;
    right: 0;
}

.img4{
    position: absolute;
    top:10%;
    right: 0;
}